{% extends 'base.html' %}
{% load static %}
{% block content %}




  <br>
  <ul class="nav nav-pills" id = "index">
    <li role="presentation" ><a href="{% url 'index' %}">Profile</a></li>
    <li role="presentation" class="active"><a href="{% url 'experience' %}">Experience</a></li>
    <li role="presentation"><a href="{% url 'like' %}">What I like</a></li>
  </ul>



  <img id = img2 src = "{%static 'img/KakaoTalk_20210311_144314107_02.jpg' %}" width="500px" height="500px" />
  <style>
      h3{font-family: 'Poor Story', cursive ; color : orange; font-size : 30px; font-style:bold;}
    </style>
    <div class = info>
      <h3> 자격증 </h3>
      <ul class = information>
        <li > ADSP 빅데이터 준전문가 </li>
        <li> 사회조사분석사 2급</li>
        <li> 컴활1급</li>
        <li> GTQ 포토샵</li>
        <li> DELF B1</li>

      </ul>

      <h3> 활동내역 </h3>
      <ul class = information>
        <li > ​경영정보학과 35대 학생회 </li>
        <li> 코딩월드뉴스 에디터 2기</li>
        <li> 네이버 커넥트재단 CS50 코칭스터디 2기</li>
        <li>DB 대학생 기업경영스쿨 수료</li>
        <li> 멋사 9기 ( 활동중 ) </li>

      </ul>
  </div>

<br>

{% endblock %}
