{% extends 'base.html' %}
{% load static %}
{% block content %}




  <br>
    <ul class="nav nav-pills" id = "index">
      <li role="presentation" class="active"><a href="{% url 'index' %}">Profile</a></li>
      <li role="presentation"><a href="{% url 'experience' %}">Experience</a></li>
      <li role="presentation"><a href="{% url 'like' %}">What I like</a></li>
    </ul>

  <br>
    
  <img id=img1 src = "{%static 'img/KakaoTalk_20210311_121920336.jpg' %}" height=500px width=500px  />

  
  <style>
    h3{font-family: 'Spinnaker', sans-serif ; color : orange; font-size : 30px;}
  </style>

      <div class = info>
      <h3> Information </h3>
      <ul class = information>
        <li > 이름 : 이예나 </li>
        <li> 나이 : 23살 </li>
        <li> 학교 : 동국대학교 </li>

      </ul>
  
      <h3> Major </h3>
      <ul class = information>
        <li > 주전공 : Management Information System (경영정보학과)</li>
        <li> 연계전공 : Integrated Software (융합소프트웨어학과)</li>


      </ul>
      
      <h3> Future Dream</h3>
      <ul class = information>
        <li > 백앤드 개발자 </li>
      
      </div>
    

  <br>

{% endblock %}
